<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Artists</title>
</head>
<body>
    <ul>
        <% for (let artist of artists) { %>
        <li><a href="/artists/<%=artist._id%>"><%= artist.name %></a></li>
        <% } %>
    </ul>
    <a href="/artists/new">Create a new artist</a>
</body>
</html>