<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Artist</title>
</head>
<body>
    <h1>Create a new Artist</h1>
    <form action="/artists" method="POST">
        <div>
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="name">
        </div>
        <div>
        <select name="type" id="type">
            <% for(let type of types){ %>
            <option value="<%=type%>"><%=type%></option>
            <% } %>
            </select>
        </div>
        <button>Submit</button>
    </form>
</body>
</html>